[submodule "saleor"]
	path = saleor
	url = https://github.com/alen-ich/saleor.git
[submodule "saleor-dashboard"]
	path = saleor-dashboard
	url = https://github.com/alen-ich/saleor-dashboard.git
[submodule "react-storefront"]
	path = react-storefront
	url = https://github.com/adamar-solutions/react-storefront.git
